pc-intruder-guard/PC Intruder Guard.json
{
  "name": "PC Intruder Guard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intruder-guard",
        "options": {}
      },
      "id": "2ef2e56c-e903-4d74-afcd-3c27e9ca2e24",
      "name": "Intruder Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        96
      ],
      "webhookId": "30e60536-c1fc-44d9-a336-1b38163f9df6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.event }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "id": "2cc28114-29c6-4cf5-beb5-8d873bdb6ecc"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "527ee04d-1f17-4f3e-a9b0-94115eae576e",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "message",
              "value": "={{ '🚨 *INTRUDER ALERT!*\\n\\n📍 Event: ' + $json.body.event + '\\n🖱️ Detail: ' + $json.body.detail + '\\n🕐 Time: ' + $json.body.timestamp + '\\n\\n⚠️ Someone is touching your PC!' }}",
              "type": "string"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "value": "={{ $json.body.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "05e73b65-ab49-4c33-be91-81b947212a45",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "642bf2e4-5da9-4f2c-8f6d-a066bd86fc3a",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "webhookId": "b01552f7-b06d-4aab-84c0-1da20ca5e03b",
      "credentials": {
        "telegramApi": {
          "id": "hdKmJr7MNctAAXZT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "22039175-06ec-4c22-8110-e79556f55c5d",
      "name": "Ignore (No Event)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Intruder Alert Webhook": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore (No Event)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}